#about-us {
  text-align: center;
  margin-top: 3rem;
}

#about-us-heading {
  padding-bottom: 0.8rem;
}

#abous-us-desc {
  font-size: 1.7rem;
  font-weight: bolder;
  @extend #about-us-heading;
}

#about-us p:nth-child(3) {
  font-weight: lighter;
}
