#add-info-container {
  display: flex;
  margin: 3rem auto;

  #add-info-holder {
    display: flex;
    flex-direction: column;

    img {
      width: 100px;
    }

    #add-info-header {
      font-size: 1.7rem;
      padding: 1.2rem 0;
    }
  }
}
