#contact-container {
  height: 450px;
  background: $primary-color;
  color: white;
  @include flex-column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;

  #contact-button-holder {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .contact-btn {
      width: 250px;
      height: 50px;
      margin-bottom: 0.9rem;
      color: white;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    #btn-blue {
      background: $secondary-color;
      border: transparent;
    }

    #btn-white {
      background: transparent;
      border: 2px solid white;
    }
  }
}

#contact-container p:first-child {
  font-size: 1.8rem;
  font-weight: 900;
}

#contact-container p:nth-child(2) {
  font-size: 1.1rem;
}
