@media screen and (min-width: 1341px) {
  .nav-logo-holder {
    padding-right: 2rem;
  }
  .country-holder {
    padding-left: 10rem;
  }

  //MAIN HOME SECTION MQUERY
  #video-player {
    width: 700px !important;
  }

  #home-text {
    font-size: 3rem !important;
  }

  #home-text,
  #home-text-desc {
    padding-right: 10.79rem !important;
  }

  //ABOUT SECTION
}
