@media screen and (min-width: 1341px) {
  .nav-logo-holder {
    padding-right: 2rem;
  }
  .country-holder {
    padding-left: 10rem;
  }

  //MAIN HOME SECTION MQUERY
  #video-player {
    width: 700px !important;
  }

  #home-text {
    font-size: 3rem !important;
  }

  #home-text,
  #home-text-desc {
    padding-right: 10.79rem !important;
  }

  //CARD SECTION
  .card-holder {
    width: 30%;

    .card-img {
      height: 250px !important;
    }
  }

  .card-desc {
    font-size: 1.5rem !important;
  }

  //KEY METRICS SECTION
  #metrics-container {
    justify-content: center;
    flex-direction: row;
  }

  #metric-heading {
    font-size: 2.1rem !important;
  }

  //infographocs section

  .ingographic-holder img {
    width: 150px !important;
  }
}
