@media screen and (min-width: 1024px) {
  #header-container {
    width: 100% !important;
    justify-content: center;
  }

  #group-holder {
    flex-direction: row !important;
  }

  #nav-container {
    display: flex !important;
    flex-direction: row !important;
    padding: 0.5rem;

    * {
      padding-right: 1.3rem !important;
    }
  }

  #toggle-holder {
    display: none !important;
  }

  #country {
    display: inline-block !important;
  }
}
