#metrics-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;

  .metric-swipe-right,
  .metric-swipe-left {
    display: flex;
    flex-direction: column;

    #metric-heading,
    #metric-desc {
      padding-bottom: 0.8rem;
    }
  }
}

#metric-heading {
  font-size: 1.8rem;
}
