@media screen and (min-width: 768px) {
  #home-container {
    flex-direction: row;
  }

  #home-text,
  #home-text-desc {
    padding-right: 5.79rem;
  }

  #video-player {
    width: 300px;
    margin-top: 1.875rem;
  }

  #home-dots {
    top: 120px;
    right: 0px;
  }

  //CARD SECTION
  #card-container {
    flex-direction: row !important;

    .card-holder {
      width: 30%;
    }
  }

  //KEY METRICS SECTION
  #metrics-container {
    flex-direction: row;

    .metric-swipe-right,
    .metric-swipe-left {
      width: 500px;
    }
  }

  #metric-heading {
    font-size: 1.6rem;
    padding-right: 1rem;
  }

  //INFPGRAPHICS
  .metric-infographics-holder {
    flex-direction: row;
    justify-content: space-around;
  }

  .info-desc {
    text-align: center;
  }

  //PARALLAX SECTION
  .par-heading {
    width: 500px;
  }

  .fl-right {
    align-self: center;
  }

  //additional info section
  #add-info-container {
    justify-content: center;
    align-items: center;

    #add-info-holder {
      width: 400px;
    }
  }

  //certificate section
  .certificate-container {
    flex-direction: row;
  }

  #certificate-left {
    width: 400px;
  }
  #certificate-right {
    width: 400px;
  }

  #cert-img {
    width: 400px !important;
  }
}

@media screen and (min-width: 1024px) {
  #metric-heading {
    font-size: 1.8rem;
  }
}
