.parallax {
  color: white;
  background-image: url(../img/bigimg-1.jpg);
  /* Set a specific height */
  min-height: 1004px;
  margin-top: 50px;
  max-width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-holder {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.par-heading {
  margin: 3rem 0;

  h2 {
    font-size: 1.5rem;
  }
}
