/*
=========================================
FONT DECLARATION
=========================================
*/

@font-face {
  font-family: Averta-Regular;
  src: url("../fonts/AvertaDemoPE-Regular.woff") format("woff");
}

/*
=========================================
VARIABLES
=========================================
*/

$primary-color: #18425d;
$secondary-color: #479fc8;
$alt-color: #353f50;
$radius: 0.25 rem;
$transition: all 0.3s linear;

$flex_column: flex column;
$flex_row: flex row;

$b1: 2px solid hsl(360, 67%, 44%);
$b2: 2px solid hsl(360, 71%, 66%);
$b3: 2px solid hsl(125, 67%, 44%);
$b4: 2px solid hsl(125, 71%, 66%);

/*
==========================================
GLOBAL STYLES
==========================================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: $primary-color;
  line-height: 1.5;
  font-size: 1.1rem;
  font-family: Averta-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  transition: transform 0.2s;
  font-size: 0.9rem;
  color: $primary-color;
  font-family: Averta-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
  // letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

ul {
  list-style-type: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

.btn {
  border: transparent;
  border-radius: $radius;
}

.btn:hover {
  transition: $transition;
}

.btn-common {
  width: 150px;
  height: 50px;
  background: $secondary-color;
  color: white;
  display: block;
  box-shadow: 0px 7px 12px rgba(7, 7, 7, 0.3);
  border-radius: 5px;
}

main {
  max-width: 100vw;
  height: 100%;
}

section,
header {
  max-width: 90vw;
  height: auto;
  padding: 1rem;
  margin: 0 auto;
}

//SECTION EXECPTIONS
/*===============================*/

.parallax,
.certificate-container {
  max-width: 100vw;
}

/*================================*/
@media screen and (max-width: 970px) {
  section,
  header {
    max-width: 95vw;
    margin: 0 auto;
  }
}

//MIXIN DECLARATIONS
/*================================*/
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
